*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
}

body{
    background-image: url(../img/fondo2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container-form{
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
    padding-top: 250px;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 80px;
    padding: 10px;
    background: #282638;
    display: flex;
    position: relative;
}

.logo-title{
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
}

.logo-title img{
    width: 40px;
    height: 40px;
}

.logo-title h2{
   margin-left: 10px;
    margin-top: 8px;
    color: white;
    font-weight: 300;
}

.menu{
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
}

.menu li{
    list-style: none;
    padding: 30px;
    padding-bottom: 27px;
    font-weight: 300;
}

.line-li{
    border-bottom: 4px solid #5584FF;
}

.menu li:hover{
    border-bottom: 4px solid #fff;
    cursor: pointer;
}

a{
    color: white;
}
/* Form Registro*/
.form{
    width: 100%;
    background: #fff;
}
.form .welcome-form{
    display: flex;
    justify-content: center;
    background: #fff;
    padding-top: 40px
}
.form .welcome-form h1{
    font-weight: 300;
    font-size: 30px;
    color: #898989;
}
.form .welcome-form h2{
    font-size: 34px;
    margin-left: 10px;
    margin-top: -4px;
    font-weight: bold;
    color: #5584FF;
}
.line-input{
    max-width: 300px;
    display: flex;
    border-bottom: 1px solid #efefef;
    margin: auto;
    margin-top: 20px;
    padding: 6px;
    position: relative;
}
.border-input{
    border-bottom: 1px solid #5584FF;
}

.line-input input{
    border-style: none;
    outline: 0px;
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
}
.form button{
    width: 300px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 50px;
    color: white;
    background: #5584FF;
    border-style: none;
    outline: 0px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form button:hover{
    opacity: .9;
}
.active{
    border-bottom: 4px solid #5584FF;
}
/*Error*/
.espacio-error{
    padding-top: 50px;
    padding-bottom: 50px;
}
.error{
    width: 30%; 
    margin: 0px auto;
    padding: 10px; 
    border: 1px solid #a94442; 
    color:white; 
    background:#d31f1f; 
    border-radius: 15px; 
    text-align: center;
}
